<table class="spending-table">
  <tr>
    <th>Cost</th>
    <th>Category</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
  {{#each income}}
  <tr>
    <td class="cost">{{this.formattedCost}}</td>
    <td class="category">{{this.category}}</td>
    <td class="location">{{this.location}}</td>
    <td class="date">{{this.date}}</td>
    <td><button class="purchase-delete-button btn btn-sm btn-danger" id={{@index}}>Delete</button></td>
  </tr>
  {{/each}}
</table>
<h3>Total Income: {{total}}</h3>