<table class="spending-table">
  <tr>
    <th>Cost</th>
    <th>Category</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
  {{#each spending}}
  <tr>
    <td class="cost">${{this.cost}}</td>
    <td class="category">{{this.category}}</td>
    <td class="location">{{this.location}}</td>
    <td class="date">{{this.date}}</td>
  </tr>
  {{/each}}
</table>
<h3>Total Spending: ${{total}}</h3>