<h1>Welcome, {{username}}!</h1>
<div class="chart-container">
  <canvas class="chart"></canvas>
</div>
<div class="spending-table-placeholder">
  <table class="spending-table">
    <tr>
      <th>Cost</th>
      <th>Category</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
    {{#each spending}}
    <tr>
      <td class="cost">${{this.cost}}</td>
      <td class="category">{{this.category}}</td>
      <td class="location">{{this.location}}</td>
      <td class="date">{{this.date}}</td>
      <td><button class="purchase-delete-button btn btn-sm btn-danger" id={{@index}}: {{this}}>Delete</button></td>
    </tr>
    {{/each}}
  </table>
  <h3>Total Spending: ${{total}}</h3>
</div>
<!-- Get customized user categories -->
<h2>Want your own Categories?</h2>
<div class="category-form">
  <label>Category</label>
  <input type="text" id="customCategory", name="category", placeholder="Make your own!">
  <input id="submitCategory" type="submit" value="Submit" class="btn btn-primary" disabled="disabled">
</div>

<!-- Date Range Filter Selector -->
<label>From</label>
<input type="text" id="from" name="from", placeholder="2015-01-01">
<label>To</label>
<input type="text" id="to" name="to", placeholder="2015-01-31">
<input id="submitDate" type="submit" value="Submit" class="btn btn-primary" disabled="disabled">

<!-- Submit more spending data -->
<div class="purchase-form">
  <label>Cost</label>
  <input id="POST-cost" type="text", name="cost" id="cost", placeholder="Ex: 10.99">
  <label>Category</label>
  <select id="POST-category" name="category">
    {{#each categories}}
      <option>{{this}}</option>
    {{/each}}
  </select>
  <label>Location</label>
  <input id="POST-location" type="text", name="location", placeholder="Ex: AMC Theater">
  <label>Date</label>
  <input id="POST-date" type="text", name="date", placeholder="Ex: 2015-10-03">
  <input id="submitData" type="submit" value="Submit" class="btn btn-primary" disabled="disabled">
</div>